.header {
  width: 100%;
  height: 95vh;
  background-image: linear-gradient(to bottom, $color-grey-dark, transparent),
    url("../images/hero.png");
  background-size: cover;
  background-position: bottom;

  &__text {
    position: absolute;
    width: 100%;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.services {
  width: 100%;
  padding: 100px 0;
  // background-color: whitesmoke;

  &__text {
    text-align: right;
    font-size: 7rem;
    color: $text-color-tertiary;
    padding: 0 5rem;
  }
}

.members {
  // height: 600px;
  background-color: $text-color-tertiary;
  padding: 100px 0;
}
